div{
    color:brown;
    text-align: center;

}
.img1{
    height:400px;
    width: 600px;
}
.div1{
    border-radius: 50%;
}
.div2{
    color: black;
    text-align: center;
}

.title{
    color: black;
    text-align: center;
}
.div3{
    color: black;
    text-align: center;
    
    
}
.img2{
    height: 300px;
    width: 500px;
    margin-left: 50%;
    

}
    
